script(type='text/javascript' src='cordova.js')
script(type='text/javascript' src='js/jquery-1.11.1.min.js' id='cordova-jquery')
script(type='text/javascript' src='js/jquery-1.5.0.mobile.min.js')
script(type='text/javascript' src='bower_components/cryptojs-md5/cryptojs-md5.js')