include blocks/config
doctype html
html
    head
        include blocks/head
        title Profilo
    body
        .app
            h1
                a(data-ajax='false' href='index.html') #{config.Sitename}
            #deviceready
                .event.listening Avvio
                #mainContent.event.received
                    form(id="profileForm",action="profile.html",style="display:none;",method="post")
                        .error
                        div
                            label(for="username") Email/Utente
                            input(type="email",id="username",name="username")
                        div
                            label(for="password") Password
                            input(type="password",id="password",name="password")
                        input(type="submit",name="submit",value="Invia")
                        a(class="recover",href="#") Recupera password
                        br
                        a(class="register",href="#") Registrati
                    form(id="recoverForm",action="profile.html",style="display:none;",method="post")
                        P Mail dove verrà inviata la nuova password
                        .error
                        div
                            label(for="username") Email/Utente
                            input(type="email",id="usernameRecover",name="usernameRecover")
                        input(type="submit",name="submit",value="Invia")
                        a(class="profile",href="#") Accedi
                        br
                        a(class="register",href="#") Registrati
                    form(id="registerForm",action="profile.html",style="display:none;",method="post")
                        .error
                        div
                            label(for="username") Email/Utente
                            input(type="email",id="username",name="username")
                        div
                            label(for="password") Password
                            input(type="password",id="password",name="password")
                        div
                            label(for="passwordr") Ridigita password
                            input(type="password",id="passwordr",name="passwordr")
                        input(type="submit",name="submit",value="Invia")
                        a(class="profile",href="#") Accedi
                        br
                        a(class="recover",href="#") Recupera password
        include blocks/foot
        script(type='text/javascript' src='js/profile.js')