include blocks/config
doctype html
html
    head
        include blocks/head
        title #{config.Sitename}
    body
        .app
            h1
                a(data-ajax='false' href='index.html') #{config.Sitename}
            #deviceready
                .event.listening Avvio
                #mainContent.event.received
        include blocks/foot
        script(type='text/javascript' src='js/upload.js')